
<h3>Détails du "{{materiel.libelle}}" d'ID: {{materiel.id}}</h3>


<div class="row">

    <ul class=" list-group" class="col-6">

      <li class="list-group-item "><img [src]="materiel.photo"/></li>
      <li class="list-group-item ">Marque: {{materiel.marque}}</li>
      <li class="list-group-item ">prix: {{materiel.prix}}</li>
      <li class="list-group-item ">Description: {{materiel.description}}</li>
      <li class="list-group-item ">Quantité: {{materiel.quantite}}</li>
      <li class="list-group-item "><input type="checkbox" [checked]="materiel.hautGamme"> Haut de Gamme</li>


      <li class="list-group-item "><button  type="button" class="btn btn-primary" (Click)="onClick()">Afficher les commentaires</button></li>
    </ul>






<div class="col-6" *ngIf="nounou" >

  <nou-comment [commentaire]="materiel.commentaires" ></nou-comment>

</div>
</div>



